<!DOCTYPE html>
<head>

{% load static %}

<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/home.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <link rel = "icon" href ="{% static 'home/logoWhite.png' %}" type = "image">
  <title>Classrom Plus | Join Session </title>
</head>

<body>
  <style>
    body {
      background-image: url("{% static 'home/chalkboard.png' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

  <nav class="navbar is-success">
      <div class="hero-body">
        <div class="container">
          <div class="navbar-brand">

            <a href="/">
              <img src="{% static 'home/logoblack.png' %}" width=60>
            </a>

            <div class="navbar-end">

              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-rounded is-medium" href="/dashboard">
                    <strong>Home</strong>
                  </a>
                </div>
              </div>

              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-rounded is-medium" href="/profile">
                    <strong>YOUR PROFILE</strong>
                  </a>
                </div>
              </div>

              <div class="navbar-item">
                <form action="{% url 'logoutuser' %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="button is-rounded is-medium"<strong><b>Logout</b></strong></button>
                </form>
              </div>

          </div>
        </div>
      </div>
    </nav>
    <br><br>
    <h1 class="x is-size-1 has-text-centered has-text-white"><b>Join A Session!</b></h1>

    <br><br.<br><br>

    <div class="columns is-centered">
      <div class="column is-four-fifths ">
        <form method="POST">
          <div class="field">
            <div class="control has-icons-left">

              <input type="url" name="url" class="input" id="url" placeholder = "URL" required="True">
              <span class="icon is-small is-left">
                <i class="fas fa-link"></i>
              </span>
              <br><br>
              <button class="button is-success" type="submit">Join!</button>

            </div>
          </div>
        </form>
      </div>
    </div>

    <br><br><br><br><br><br>

    <section class="hero is-success is-small is-bold">
        <div class="hero-body">
          <div class="container has-text-centered">
            <img src="{% static 'home/logoblack.png' %}" width=10%>
            <h1 class="x is-size-2-desktop has-text-black is-size-4-mobile"><b>Helping you level up one day at a time!</b></h1>
            <br>

            <br>
            <p class="x is-size-4 has-text-black"> <b>Handcrafted by Fayed Raza , Rachael Wei , Akaash Kolachina , Ricky Zhao , Nakul Iyer , Aryaman Singhal , Rohit Manjunath</b></p>
            <br><br>
          </div>
        </div>
      </section>

    <script type="text/javascript">
    
    </script>


</body>
</html>
