#page {
    background-color: #000000;
    background-image: url('https://user-images.githubusercontent.com/42160652/89743160-43626100-da6e-11ea-8888-80aae91702a2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: calc(80vh + 200px);
}

p {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    margin-top: 11%;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    font-size: 100px;
}

label {
    font-family: 'Fredericka the Great', cursive;
    margin-left: 12%;

    color: white;
}

.logIn {
    position: fixed; /* or absolute */
    top: 40%;
    left: 40%;

}

h3 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
}

#page button {
    background-image: url('https://user-images.githubusercontent.com/42160652/89743160-43626100-da6e-11ea-8888-80aae91702a2.jpeg');
    font-family: 'Fredericka the Great', cursive;
    border: none;
    color: white;
    width: 20vw;
    padding: 10px 0;
    margin-left: 12.5vw;
    margin-top: 2vh;
}

#page button:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Edge */
    font-size: 9px;
    font-family: 'Fredericka the Great', cursive;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 9px;
    font-family: 'Fredericka the Great', cursive;

}

::placeholder {

    font-family: 'Fredericka the Great', cursive;
}

h2 {
    font-family: 'Fredericka the Great';
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin: 0;
}

h4 {
    font-family: 'Fredericka the Great';
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

select {
    font-family: 'Fredericka the Great', cursive;
}

.input-box {
    height: 60vh;
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Fredericka the Great', cursive;
    color: white;
    resize: none;
    padding: 10px;
}

.input-box:focus {
    outline: none;
}

.input-box3 {
    font-family: 'Fredericka the Great', cursive;
    width: 45vw;
    height: 8vh;
    resize: none;
    padding: 10px;
}


.input-box2 {
    margin-left: 2%;
    height: 45vh;
    width: 45vw;
    resize: none;
    margin: 0 0 2vh 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

#bodyStuffs {
    display: flex;
    height: 80vh;
}

#inputzone {
    margin-left: 2%;
    height: 50vh;
    width: 45vw;
    margin: 20px 2vw 20px 2vw;
}

#notezone {
    height: 60vh;
    width: 45vw;
    margin: 20px 2vw 20px 2vw;
}

textarea {
    padding-top: 10px;
}

#chatlabel {
    height: 5vh;
}

.doubt {
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0 5px 0;
}

.doubt p {
    text-align: left;
    font-family: "Fredericka the Great";
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;
}

.comment {
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0 5px 5vw;
    padding: 2px 0 10px 0;
}

.comment p {
    text-align: right;
    font-family: "Fredericka the Great";
    padding-right: 10px;
    padding-top: 5px;
    margin: 0;
}

.reddit-box {
    line-height: 20px;
    font-size: 16px;
    text-align: right;
    margin: 1px 20px;
}

.reddit-box > div {
    display: inline-block;
    margin: 0 5px 2px 0;
    color: white;
    font-family: "Fredericka the Great";
}

#quiz-btns > button {
    margin: 0 15px;
}

.radio-group {
    margin: 15px auto;
    width: 300px;
}
