<!DOCTYPE html>
<html>

{% load static %}

<head>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/home.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

  <link rel = "icon" href ="{% static 'home/logoWhite.png' %}" type = "image">
  <title>Classrom Plus | Home</title>

</head>

<body>
  <style>
    body {
      background-image: url("{% static 'home/chalkboard.png' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

  <nav class="navbar is-success">
      <div class="hero-body">
        <div class="container">
          <div class="navbar-brand">

            <a href="/">
              <img src="{% static 'home/logoblack.png' %}" width=60>
            </a>

            <div class="navbar-end">

              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-rounded is-medium" href="/login">
                    <strong>LOGIN</strong>
                  </a>
                </div>
              </div>

              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-rounded is-medium" href="/signup">
                    <strong>SIGN UP</strong>
                  </a>

                </div>
              </div>

          </div>
        </div>
      </div>
    </nav>

  <br>

  <section>
    <div class="hero-body">
      <div class="container">
        <h1 class=" x is has-text-centered is-size-2-desktop is-size-3-mobile has-text-white">
          <b>
            WELCOME CLASSMATE PLUS
          </b>
      </h1>

      <br>

      <h2 class="x is-size-3 has-text-white">
        Classrom Plus is a new way by which students can engage , increase productivity , interact and become more efficent while learning online. It provides new teaching techniques to make learning more enjoyable for students at home.
      </h2>
      </div>
    </div>
  </section>


  <section>
    <div class="hero-body">
      <div class="container">
        <h1 class="x is has-text-centered is-size-2-desktop is-size-3-mobile has-text-white">
          FEATURES OF CLASSMATE PLUS
      </div>
    </div>
  </section>

  <section class="section has-text-centered">
    <div class="container">
      <div class="columns is-multiline">

        <div class="column is-12-mobile is-one-third-desktop">
          <div class="box">
            <img class="logo" src="{% static 'home/icebreaker.png' %}" width=100>
            <p class="x is-size-3 has-text-dark "><b>ICEBREAKER</b></p>
          </div>
        </div>

        <div class="column is-12-mobile is-one-third-desktop">
          <div class="box">
            <img class="logo" src="{% static 'home/chatbot.png' %}" width=100>
            <p class="x is-size-3 has-text-dark "><b>CHATBOX</b></p>

          </div>
        </div>

        <div class="column is-12-mobile is-one-third-desktop">
          <div class="box">
            <img class="logo" src="{% static 'home/quiz.png' %}" width=100>
            <p class="x is-size-3 has-text-dark"><b>QUIZ</b></p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="container">
    <div class="notification has-background-success">
        <div class="columns is-vcentered">

          <div class="column is-half">
            <h1 class=" x is-size-2-desktop has-text-dark is-size-3-mobile"><b>Use Classmate Plus Today ?</b></h1>
          </div>

          <div class="column is-one-third">
            <h2 class="subtitle is-size-4-desktop has-text-white is-size-5-mobile"><b></b></h2>
          </div>

          <div class="column">
            <a class="x is button is-dark is-medium" href = "\signup">Let's go!</a>
          </div>

        </div>
    </div>
  </div>

  <br><br>

  <section class="hero is-success is-medium is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img src="{% static 'home/logoblack.png' %}" width=7%>
          <h1 class=" x is-size-2-desktop has-text-black is-size-4-mobile"><b>Helping you level up one day at a time!</b></h1>
          <br><br>
          <p class="x is-size-4 has-text-black"> <b>Handcrafted by Fayed Raza , Rachael wei , Akaash Kolachina , Ricky Zhao , Nakul Iyer , Aryaman Singhal , Rohit Manjunath</b>  </p>
        </div>
      </div>
    </section>
